.footer {
    position: relative;
    background: #3D3D3D;
    color: #FFF;
    height: 60px;
    display: block;
    line-height: 60px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    text-align: center;
}