/*==========================================================================
	GLOBAL
========================================================================== */
:root {
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}

// Fixes input elements to have border-box great for percentages
* , *:before , *:after {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	box-sizing: border-box;
}

// Remove annoying dotted outline on links and form elements
* {
	outline: 0;
}

/* IE 10 Overrides */
// Removes annoying x on inputs
*::-ms-clear {
	display: none;
}

// Fix scrollbar overlap
body {
	-ms-overflow-style: scrollbar !important;
}

// Browser Form overwrites
input, textarea {
	-webkit-appearance: none;
	appearance: none;
}
select {
	border-radius: 0;
}

textarea {
	resize: none;
}

input[type=submit] {
	cursor: pointer;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fafafa inset !important;
}

/* Mobile Overrides */
// remove ugly highlight color
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
	-webkit-font-smoothing: antialiased;
}

body {
	font-weight: normal;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #ffffff;
}

dl, h1, h2, h3, h4, h5, h6, ol, p, ul {
	margin: 0;
	padding: 0;
}

ul, ol {
	list-style: none;
}

input, textarea {
	-webkit-appearance: none;
	appearance: none;
}

img {
	max-width: 100%;
	height: auto;
}

#appMountPoint {
    height: 100%;
}

.app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.main {
	flex-grow: 1;
	background-color: #e9ebee;
	&__header {
		margin: 22px 0;
		text-align: center;
	}
}

.main, .navbar, .footer {
    flex-shrink: 0;
}

.primary-btn {
	background-color: #5F98CD;
    cursor: pointer;
    display: inline-block;
    line-height: 2rem;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    border: 0px solid #aaa;
    border-bottom: 1px solid #e0e0e0;
    font-weight: 600;
	margin: 0 0 0 10px;
	color: #FFF;
	min-width: 120px;
	padding: 0 10px;
    text-decoration: none;
}

.edit-btn {
	@extend .primary-btn;
	margin: 0;
	background-color: #F38A8A;
}

.landing {
	&__header {
		color: #FFF;
		text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
		font-size: 60px;
		text-align: center;
		margin: 100px;
	}
}

.profiles-container {
	max-width: 1012px;
    display: block;
    margin: 40px auto;
    background: #FFF;
    padding: 18px;
    border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.075);
	
	&__header {
		margin: 0 0 10px;
	}

	&__text {
		margin: -4px 0 10px;
	}
}

.profile-media-object {
	padding: 20px 25px;
    display: table;
    width: 100%;
    margin: 0 0 10px;
	box-shadow: 0px 4px 8px 0px #d8d4d4;
	border: 1px solid #ddd;
	&__images {
		width: 50px;
		height: 50px;
		margin: 0 20px 0 0;
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
		border-radius: 50%;
	}

	&__detail {
		display: inline-block;
		font-size: 20px;
		color: #333333;
		vertical-align: top;
	}
}

.profile {
	&__textarea {
		margin: 10px 0;
	}

	&__textarea-field {
		width: 100%;
		height: 120px;
		border: 1px solid #dee2e6;
		padding: 10px;
		background-color: #fafafa;
	}

	&__welcome {
		text-align: center;
    	font-size: 22px;
		padding: 10px 0;
		a {
			text-decoration: none;
		}
	}

	&__avatar {
		text-align: center;
		img {
			border-radius: 100%;
		}
	}

	&__edit-buttons {
		padding: 12px 0;
		text-align: center;
		&:first-child {
			margin: 0;
		}
	}

	&__edit-button-item {
		display: inline-block;
		vertical-align: top;
		margin: 0 0 0 10px;
	}
}

.experience {
	border: 1px solid #dee2e6;
    margin: 10px 0;
    padding: 4px 10px;
	position: relative;
	
	&__title {
		font-size: 18px;
		font-weight: bold;
		line-height: 1;
	}

	&__company {
		font-style: italic;
    	font-size: 14px;
	}

	&__date {
		font-size: 14px;
		padding: 8px 0;
		position: absolute;
		top: 0;
		right: 10px;
		font-style: italic;
	}

	&__description {
		font-size: 16px;
    	padding: 10px 0;
	}
}

.education {
	border: 1px solid #dee2e6;
    margin: 10px 0;
    padding: 4px 10px;
	position: relative;
	&__degree {
		font-size: 18px;
		font-weight: bold;
		line-height: 1;
	}

	&__school {
		font-size: 14px;
		display: inline-block;
		vertical-align: top;
	}

	&__study {
		font-size: 14px;
		display: inline-block;
		vertical-align: top;
		&::before {
			content: '-';
			margin: 0 4px;
		}
	}

	&__date {
		font-size: 14px;
		padding: 8px 0;
		position: absolute;
		top: 0;
		right: 10px;
		font-style: italic;
	}

	&__description {
		font-size: 16px;
    	padding: 10px 0;
	}
}