/*==========================================================================
    Mixins
========================================================================== */
/*==========================================================================
	GLOBAL
========================================================================== */
:root {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%; }

*, *:before, *:after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box; }

* {
  outline: 0; }

/* IE 10 Overrides */
*::-ms-clear {
  display: none; }

body {
  -ms-overflow-style: scrollbar !important; }

input, textarea {
  -webkit-appearance: none;
  appearance: none; }

select {
  border-radius: 0; }

textarea {
  resize: none; }

input[type=submit] {
  cursor: pointer; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fafafa inset !important; }

/* Mobile Overrides */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html {
  -webkit-font-smoothing: antialiased; }

body {
  font-weight: normal;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff; }

dl, h1, h2, h3, h4, h5, h6, ol, p, ul {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none; }

input, textarea {
  -webkit-appearance: none;
  appearance: none; }

img {
  max-width: 100%;
  height: auto; }

#appMountPoint {
  height: 100%; }

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch; }

.main {
  flex-grow: 1;
  background-color: #e9ebee;
  position: relative; }
  .main__header {
    margin: 22px 0;
    text-align: center; }
  .main__background {
    background-color: #5f98cd;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%235f98cd'/%3E%3Cstop offset='1' stop-color='%23b6fbff'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2383a4d4' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2383a4d4' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2383a4d4' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2383a4d4' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center; }

.main, .navbar, .footer {
  flex-shrink: 0; }

.primary-btn, .edit-btn {
  background-color: #5F98CD;
  cursor: pointer;
  display: inline-block;
  line-height: 2rem;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  border: 0px solid #aaa;
  border-bottom: 1px solid #e0e0e0;
  font-weight: 600;
  margin: 0 0 0 10px;
  color: #FFF;
  min-width: 120px;
  padding: 0 10px;
  text-decoration: none; }

.edit-btn {
  margin: 0;
  background-color: #F38A8A; }

.landing__hero {
  text-align: center;
  position: relative;
  height: auto;
  padding-bottom: 80px;
  background: #765B90;
  background-size: cover;
  color: #fff;
  overflow: hidden; }

.landing__header {
  color: #FFF;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  font-size: 60px;
  text-align: center;
  margin: 100px; }

.landing__sub-header {
  color: #FFF;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  font-size: 40px;
  text-align: center;
  margin: 100px; }

.landing__image {
  position: relative;
  padding-top: 56.26%;
  width: 50%;
  display: block;
  margin: auto; }
  .landing__image img {
    position: absolute;
    top: 0;
    left: 0; }

.profiles-container {
  max-width: 1012px;
  display: block;
  margin: 40px auto;
  background: #FFF;
  padding: 18px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075); }
  .profiles-container__header {
    margin: 0 10px 10px; }
  .profiles-container__sub-header {
    margin: 10px 0 0; }
  .profiles-container__text {
    margin: -4px 0 10px; }

.profile-media-object {
  padding: 20px 25px;
  display: table;
  width: 100%;
  margin: 0 0 10px;
  box-shadow: 0px 4px 8px 0px #d8d4d4;
  border: 1px solid #ddd; }
  .profile-media-object__images {
    width: 50px;
    height: 50px;
    margin: 0 20px 0 0;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border-radius: 50%; }
  .profile-media-object__detail {
    display: inline-block;
    font-size: 20px;
    color: #333333;
    vertical-align: top; }

.profile__textarea {
  margin: 10px 0; }

.profile__textarea-field {
  width: 100%;
  height: 120px;
  border: 1px solid #dee2e6;
  padding: 10px;
  background-color: #fafafa; }

.profile__welcome {
  text-align: center;
  font-size: 22px;
  padding: 10px 0; }
  .profile__welcome a {
    text-decoration: none; }

.profile__avatar {
  text-align: center; }
  .profile__avatar img {
    border-radius: 100%; }

.profile__edit-buttons {
  padding: 12px 0;
  text-align: center; }
  .profile__edit-buttons:first-child {
    margin: 0; }

.profile__edit-button-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 10px; }

.profile__paragraph {
  margin: 12px 0; }
  .profile__paragraph a {
    font-weight: bold;
    color: #3D3D3D; }
    .profile__paragraph a:hover {
      color: #5F98CD; }

.experience {
  border-bottom: 1px solid #dee2e6;
  margin: 10px 0;
  padding: 10px 0;
  position: relative; }
  .experience:last-child {
    border-bottom: 1px solid transparent; }
  .experience__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.9); }
  .experience__company {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9); }
  .experience__date {
    padding: 8px 0;
    position: absolute;
    top: 0;
    right: 10px;
    font-style: italic;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.75); }
  .experience__description {
    padding: 10px 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.75); }

.education {
  border-bottom: 1px solid #dee2e6;
  margin: 10px 0;
  padding: 10px 0;
  position: relative; }
  .education:last-child {
    border-bottom: 1px solid transparent; }
  .education__degree {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.9); }
  .education__school {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    display: inline-block;
    vertical-align: top; }
  .education__study {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    display: inline-block;
    vertical-align: top; }
    .education__study::before {
      content: '-';
      margin: 0 4px; }
  .education__date {
    padding: 8px 0;
    position: absolute;
    top: 0;
    right: 10px;
    font-style: italic;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.75); }
  .education__description {
    padding: 10px 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.75); }

.wysiwyg-editor {
  display: block;
  margin: 10px 0;
  width: 100%; }
  .wysiwyg-editor__controls {
    display: block;
    width: 100%;
    height: 35px;
    border: 1px solid #C2CACF;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    background: #fff; }
    .wysiwyg-editor__controls a {
      display: inline-block;
      width: 35px;
      height: 35px;
      vertical-align: top;
      line-height: 38px;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      color: #ADB5B9; }
    .wysiwyg-editor__controls [data-role="bold"] {
      font-weight: bold; }
    .wysiwyg-editor__controls [data-role="italic"] {
      font-style: italic; }
    .wysiwyg-editor__controls [data-role="underline"] {
      text-decoration: underline; }
  .wysiwyg-editor [class^="menu"], .wysiwyg-editor [class^="menu"]:before, .wysiwyg-editor [class^="menu"]:after {
    position: relative;
    top: 48%;
    display: block;
    width: 65%;
    height: 2px;
    margin: 0 auto;
    background: #ADB5B9; }
  .wysiwyg-editor [class^="menu"]:before {
    content: '';
    top: -5px;
    width: 80%; }
  .wysiwyg-editor [class^="menu"]:after {
    content: '';
    top: 3px;
    width: 80%; }
  .wysiwyg-editor .menu-left:before, .wysiwyg-editor .menu-left:after {
    margin-right: 4px; }
  .wysiwyg-editor .menu-right:before, .wysiwyg-editor .menu-right:after {
    margin-left: 4px; }
  .wysiwyg-editor__content {
    max-width: 100%;
    width: 100%;
    height: auto;
    min-height: 320px;
    padding: 12px;
    resize: both;
    overflow: auto;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    border: 1px solid #dee2e6;
    border-radius: 0 0 3px 3px;
    background-color: #fafafa; }

.dropdown {
  position: relative;
  font-size: 13px;
  background: #fff;
  padding: 10px;
  width: 100%;
  color: #333333;
  zoom: 1; }
  .dropdown:before, .dropdown:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden; }
  .dropdown:after {
    clear: both; }
  .dropdown__label {
    zoom: 1;
    display: block;
    float: left; }
    .dropdown__label:before, .dropdown__label:after {
      content: " ";
      display: block;
      height: 0;
      overflow: hidden; }
    .dropdown__label:after {
      clear: both; }
  .dropdown__label--left {
    zoom: 1;
    box-sizing: border-box;
    padding: 8px 8px 8px 0;
    width: 35%; }
    .dropdown__label--left:before, .dropdown__label--left:after {
      content: " ";
      display: block;
      height: 0;
      overflow: hidden; }
    .dropdown__label--left:after {
      clear: both; }
  .dropdown__label--top {
    zoom: 1;
    box-sizing: border-box;
    padding: 8px 8px 8px 0;
    width: 100%;
    font-weight: bold;
    float: none; }
    .dropdown__label--top:before, .dropdown__label--top:after {
      content: " ";
      display: block;
      height: 0;
      overflow: hidden; }
    .dropdown__label--top:after {
      clear: both; }
  .dropdown__header {
    transition: background 0.3s ease;
    background-color: #fafafa;
    border: 1px solid #d8d8d8;
    color: #3b444f;
    padding: 8px 10px;
    width: 100%;
    zoom: 1; }
    .dropdown__header:before, .dropdown__header:after {
      content: " ";
      display: block;
      height: 0;
      overflow: hidden; }
    .dropdown__header:after {
      clear: both; }
  .dropdown__list {
    zoom: 1;
    transition: background 0.3s ease;
    background-color: #fafafa;
    border: 1px solid #d8d8d8;
    border-top: 0;
    color: #3b444f;
    width: calc(100% - 20px);
    position: absolute;
    z-index: 2; }
    .dropdown__list:before, .dropdown__list:after {
      content: " ";
      display: block;
      height: 0;
      overflow: hidden; }
    .dropdown__list:after {
      clear: both; }
    .dropdown__list-item {
      padding: 6px 10px; }
      .dropdown__list-item:hover {
        background-color: #ffffff; }

.checkbox {
  position: relative;
  width: 100%;
  padding: 10px; }
  .checkbox__label {
    font-weight: bold;
    color: #333333;
    font-size: 14px; }
    .checkbox__label input[type=checkbox]:checked {
      background-color: #3b444f; }
  .checkbox__input {
    transition: background 0.3s ease;
    background-color: #fafafa;
    border: 1px solid #d8d8d8;
    color: #3b444f;
    padding: 8px;
    float: left;
    margin: 0 8px 0 0; }

.ring-animation {
  width: 14px;
  position: absolute;
  height: 14px;
  margin: 0 auto;
  padding: 14px;
  border: 7px dashed #5F98CD;
  border-radius: 100%;
  animation: loadingRing 1.5s 0.3s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
  top: 44%;
  left: 50%; }

@keyframes loadingRing {
  0 {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

.navbar {
  height: 50px;
  background: #5F98CD;
  display: block;
  line-height: 50px;
  color: #FFF;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
  .navbar__nav {
    zoom: 1;
    font-size: 0; }
    .navbar__nav:before, .navbar__nav:after {
      content: " ";
      display: block;
      height: 0;
      overflow: hidden; }
    .navbar__nav:after {
      clear: both; }
    .navbar__nav--main {
      float: left; }
    .navbar__nav--user {
      float: right; }
    .navbar__nav-item {
      display: inline-block;
      font-size: 15px; }
      .navbar__nav-item a {
        text-decoration: none;
        font-weight: bold;
        padding: 12px;
        color: #FFF; }

.footer {
  position: relative;
  background: #3D3D3D;
  color: #FFF;
  height: 40px;
  display: block;
  line-height: 40px;
  text-align: center; }

.form {
  display: block;
  margin: 100px auto;
  max-width: 320px;
  background: #FFF;
  padding: 18px 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075); }
  .form__header {
    font-size: 16px;
    text-align: center;
    padding: 6px 0 12px; }

.field {
  zoom: 1;
  font-size: 14px;
  background: #fff;
  padding: 10px;
  width: 100%;
  color: #333333; }
  .field:before, .field:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden; }
  .field:after {
    clear: both; }
  .field--full-width {
    width: 100%; }

.field {
  zoom: 1;
  clear: both;
  position: relative; }
  .field:before, .field:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden; }
  .field:after {
    clear: both; }

.field__label, .field__content {
  zoom: 1;
  display: block;
  float: left; }
  .field__label:before, .field__label:after, .field__content:before, .field__content:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden; }
  .field__label:after, .field__content:after {
    clear: both; }

.field__label--left {
  zoom: 1;
  box-sizing: border-box;
  padding: 8px 8px 8px 0;
  width: 35%; }
  .field__label--left:before, .field__label--left:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden; }
  .field__label--left:after {
    clear: both; }

.field__label--top {
  zoom: 1;
  box-sizing: border-box;
  padding: 8px 8px 8px 0;
  width: 100%;
  font-weight: bold; }
  .field__label--top:before, .field__label--top:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden; }
  .field__label--top:after {
    clear: both; }

.field__content--left {
  zoom: 1;
  width: 65%; }
  .field__content--left:before, .field__content--left:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden; }
  .field__content--left:after {
    clear: both; }

.field__content--top {
  zoom: 1;
  width: 100%; }
  .field__content--top:before, .field__content--top:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden; }
  .field__content--top:after {
    clear: both; }

.field__autocomplete-list {
  list-style-type: none;
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: -109px;
  background: #FFF;
  width: 100%;
  z-index: 1;
  border: 1px solid #dbe6ec; }

.field__autocomplete-item {
  padding: 4px; }

.input__container {
  zoom: 1;
  position: relative; }
  .input__container:before, .input__container:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden; }
  .input__container:after {
    clear: both; }

.field .input {
  zoom: 1;
  float: left; }
  .field .input:before, .field .input:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden; }
  .field .input:after {
    clear: both; }

.input {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background-color: #fafafa;
  border: 1px solid #d8d8d8;
  color: #3b444f;
  padding: 8px 10px;
  width: 100%; }
  .input--text-area {
    height: 200px; }

.accessibility {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.dropdown {
  position: relative; }

.dropdown__value {
  word-wrap: break-word;
  background-color: #f4f8fc;
  border: 1px solid #dbe6ec;
  display: block;
  padding: 8px 10px;
  text-overflow: ellipsis;
  text-align: left;
  white-space: nowrap;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; }

.dropdown__select {
  -webkit-appearance: menulist-button;
  -moz-appearance: menulist-button;
  appearance: menulist-button;
  font-size: 16px;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%; }
  .dropdown__select option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px; }

.custom-input--artist {
  zoom: 1; }
  .custom-input--artist:before, .custom-input--artist:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden; }
  .custom-input--artist:after {
    clear: both; }
  .custom-input--artist .input {
    float: none;
    width: 40px; }

.custom-input--artist__title {
  zoom: 1;
  display: inline-block;
  font-size: 14px;
  width: 50%; }
  .custom-input--artist__title:before, .custom-input--artist__title:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden; }
  .custom-input--artist__title:after {
    clear: both; }

.custom-input--artist__delete {
  zoom: 1;
  display: inline-block;
  float: right;
  vertical-align: top; }
  .custom-input--artist__delete:before, .custom-input--artist__delete:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden; }
  .custom-input--artist__delete:after {
    clear: both; }

.custom-input--artist__sub-title {
  zoom: 1;
  display: inline-block;
  width: 50%;
  font-size: 14px;
  vertical-align: top;
  margin: 14px 0;
  padding: 0 4px 0 0;
  line-height: 2;
  float: left; }
  .custom-input--artist__sub-title:before, .custom-input--artist__sub-title:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden; }
  .custom-input--artist__sub-title:after {
    clear: both; }
